<section class="clean-block about-us">
    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Our branches</h2>
            <p>We are proud to present to you the huge variety of flowers that we sell at affordable prices for every pocket.
            </p>
        </div>
        <div class="row justify-content-center align-items-center">
            <% branches.forEach(function (branch) {
                var colors = palette(branch.image).colors;
            %>

                <div class="col-sm-6 col-lg-4" style="padding-bottom: 15px;padding-top: 15px;">
                    <div class="card clean-card text-center"><img class="card-img-top w-100 d-block" src="<%= branch.image %>" style="width: 328px;height: 218.5px;object-fit: cover;">
                        <div class="card-body info">




                            <label class="btn btn-primary" type="button" style="background:rgba(<%= colors[2].toString() %>); margin-right: 5px;margin-left: 5px;">
                                <a href="tel:<%= branch.phone %>"><%= branch.phone %></a>
                            </label>
                            <label class="btn btn-primary" type="button" style="background:rgba(<%= colors[2].toString() %>); margin-right: 5px;margin-left: 5px;">
                                <a href="<%= branch.link %>"> <%= branch.location %> </a>
                            </label>
                        </div>
                    </div>
                </div>

                <% }) %>
        </div>
    </div>
</section>