<script>
    $("#save-btn").on("click", async function () {
        let firstName = $("#first-name-in").val();
        let lastName = $("#last-name-in").val();
        let username_ = $("#username-in").val();
        let password = $("#password-in").val();
        let imageURL = $("#image-url-in").val();
        let type = "customers";
        <% if(permission === "admin") { %>
        type = $("#type-selector").val();
        <% } %>

        // check if any of the fields is empty
        if ([firstName, lastName, username_, password, imageURL].filter(i => i.length === 0).length > 0) {
            $("#first-name-in").append('<style>.item::placeholder{color:red}</style>');
            $("#last-name-in").append('<style>.item::placeholder{color:red}</style>');
            $("#username-in").append('<style>.item::placeholder{color:red}</style>');
            $("#password-in").append('<style>.item::placeholder{color:red}</style>');
            $("#image-url-in").append('<style>.item::placeholder{color:red}</style>');
            return false;
        }

        // else, try send the new user to the server
        $("#save-spinner").css("visibility", "visible")
        let resp = await fetch(`/users/add-user/${username}`, {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
                firstName: firstName,
                lastName: lastName,
                username: username_,
                password: password,
                imageURL: imageURL,
                type: type
            })
        });

        if (resp.ok) {
            resp.text().then(function (text) {
                console.log(text);
                $("#message-banner").removeClass("bg-danger").addClass("bg-info").css("visibility", "visible");
                $("#message-text").html(text);
                location.assign("#");
            });
        } else {
            resp.text().then(function (text) {
                console.log(text);
                $("#message-banner").addClass("bg-danger").removeClass("bg-info").css("visibility", "visible");
                $("#message-text").html(text);
                location.assign("#");
            });
        }
    });

    $("#close-message-btn").on("click", async function () {
        $("#main-content").load(`/users/${username}`);
    });

    <% if(permission === "admin") { %>

    function updateUser(newType, username_) {
        fetch(`/users/move-user/${username}`, {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
                username: username_,
                newType: newType
            })
        }).text().then(function (text) {
            console.log(text);
        });
    }
    <% } %>
    <% if(permission === "admin") { %>

    function removeUser(username_) {
        fetch(`/users/remove-user/${username}`, {
            headers: {
                'Content-Type': 'application/json'
            },
            method: 'POST',
            body: JSON.stringify({
                username: username_
            })
        }).text().then(function (text) {
            console.log(text);
        });
    }

    <% } %>
</script>

<section class="clean-block about-us">
    <div id="message-banner" class="clean-block add-on call-to-action"
         style="visibility: collapse; padding-top: 20px;padding-bottom: 10px">
        <h5 style="color: white" id="message-text"></h5>
        <button id="close-message-btn" class="btn btn-outline-light" type="button" style="margin-left: 20px">refresh
        </button>
    </div>

    <div class="container">
        <div class="block-heading">
            <h2 class="text-info">Users</h2>
            <p>View all users of all types, Add new
                <%= permission === "admin" ?
                        "customers, employees and managers, change user permissions"
                        : "customers" %>
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col-sm-6 col-lg-4" style="margin-bottom: 30px">
                <div class="card clean-card text-center">
                    <div class="card-body info">
                        <h4 class="card-title">
                            <% if (permission === "admin") { %>
                                New User
                            <% } else { %>
                                New customer
                            <% } %>
                        </h4>
                        <div class="form-group"><input class="form-control item" style="font-size: 12px" type="text"
                                                       id="first-name-in" placeholder="First name"></div>
                        <div class="form-group"><input class="form-control item" style="font-size: 12px" type="text"
                                                       id="last-name-in" placeholder="Last name"></div>
                        <div class="form-group"><input class="form-control item" style="font-size: 12px" type="text"
                                                       id="username-in" placeholder="Username"></div>
                        <div class="form-group"><input class="form-control item" style="font-size: 12px" type="password"
                                                       id="password-in" placeholder="Password"></div>
                        <div class="form-group"><input class="form-control item" style="font-size: 12px" type="url"
                                                       id="image-url-in" placeholder="Image URL"></div>

                        <% if (permission === "admin") { %>
                            <select style="font-size: 12px" class="custom-select" id="type-selector">
                                <option style="font-size: 12px" value="admins" selected>Admin</option>
                                <option style="font-size: 12px" value="employees">Employee</option>
                                <option style="font-size: 12px" value="customers">Customer</option>
                            </select>
                        <% } %>
                        <button class="btn btn-info" id="save-btn" style="margin-top: 10px;">
                            <span id="save-spinner" style="visibility: hidden" class="spinner-border spinner-border-sm"
                                  role="status" aria-hidden="true"></span>
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </div>

            <% for(let user in users) {
                user = users[user];
            if(user.active) { %>
                <div class="col-sm-6 col-lg-4" style="margin-bottom: 30px">

                    <div class="card clean-card text-center align-items-center">
                        <img class="card-img-top w-50 d-block "
                             style="border-radius: 40%; margin-top: 15px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19) "
                             src="<%= user.image %>">
                        <div class="card-body info">
                            <h4 class="card-title">
                                <%= user.firstName + " " + user.lastName %>
                            </h4>
                            <p class="card-text">
                                <%= user.username %>
                                <% if(permission !== "admin") { %>
                                    <%= " | " + user.type.charAt(0).toUpperCase() + user.type.slice(1, user.type.length - 1) %>
                                <% } else { %>

                                    <select style="font-size: 12px" class="custom-select"
                                            onchange="updateUser(this.options[this.selectedIndex].value, '<%= user.username %>')">
                                        <option value="admin" <%= user.type === "admin" ? "selected" : "" %> >Admin
                                        </option>
                                        <option value="employee" <%= user.type === "employee" ? "selected" : "" %> >
                                            Employee
                                        </option>
                                        <option value="customer" <%= user.type === "customer" ? "selected" : "" %> >
                                            Customer
                                        </option>
                                    </select>
                                <% } %>
                            </p>
                        </div>
                        <% if(permission === "admin") { %>
                            <button type="button" class="btn btn-danger" style="margin-bottom: 10px"
                                    onclick="removeUser('<%= user.username %>')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"
                                     fill="none" style="margin: 0;margin-right: 0;">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                          d="M17 6V5C17 3.89543 16.1046 3 15 3H9C7.89543 3 7 3.89543 7 5V6H4C3.44772 6 3 6.44772 3 7C3 7.55228 3.44772 8 4 8H5V19C5 20.6569 6.34315 22 8 22H16C17.6569 22 19 20.6569 19 19V8H20C20.5523 8 21 7.55228 21 7C21 6.44772 20.5523 6 20 6H17ZM15 5H9V6H15V5ZM17 8H7V19C7 19.5523 7.44772 20 8 20H16C16.5523 20 17 19.5523 17 19V8Z"
                                          fill="currentColor"></path>
                                </svg>
                            </button>
                        <% } %>
                    </div>
                </div>
            <% }} %>
        </div>
    </div>
</section>